﻿@model IEnumerable<SortimisDemo.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<script>
    function submitform(k) {
        let x = document.getElementById("sortKey");
        let y = document.getElementById("sortDirection");
        if (x.value != k) {
            x.value = k;
            document.getElementById("sortDirection").value = "Asc";
        } else if (y.value == "Asc") y.value = "Desc"; // setAttribute("value", "Desc");
        else y.value = "Asc"; // .setAttribute("value", "Asc");
        document.getElementById("thisform").submit();
    }
    function nextPage() {
        document.getElementById("pageNo").value++;
        document.getElementById("thisform").submit();
    }
    function prevPage() {
        document.getElementById("pageNo").value--;
        document.getElementById("thisform").submit();
    }

</script>
<form id="thisform" method="post">
        <input type="hidden" id="sortKey" name="sortKey" value="@ViewBag.SortKey" />
        <input type="hidden" id="sortDirection" name="sortDirection" value="@ViewBag.SortDirection" />
        <input type="hidden" id="pageNo" name="pageNo" value="@ViewBag.PageNo" />
        <input type="hidden" id="pageSize" name="pageSize" value="@ViewBag.PageSize" />

        <div class="form-group-row">
            <div class="col-xs-2">
                <label for="lp">Hinnavahemik</label>
                <input id="lp" type="number" name="lowerPrice" value="@ViewBag.LowerPrice" placeholder="lower price" class="form-control col-sm-2" />
            </div>
            <div class="col-xs-2">
                <label for="hp">kuni</label>
                <input id="hp" type="number" name="higherPrice" value="@ViewBag.HigherPrice" placeholder="higher price" class="form-control col-sm-2" />
            </div>
            <div class="col-xs-4">
                <label for="ss">search string</label>
                <input id="ss" type="text" name="searchString" placeholder="(enter search string)" value="@ViewBag.SearchString" class="form-control" />
            </div>
            <div class="col-xs-2">
                <button id="otsi" type="submit" name="serach" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>search</button>
            </div>
        </div>
        <ul class="pager">
            @if (ViewBag.PageNo > 0)
            {
            <li><a href="javascript: prevPage()">Previous</a></li>
            }
            <li><a href="javascript: nextPage()">Next</a></li>
        </ul>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.ProductName)*@
                    @*@Html.ActionLink("ProductName", "Filter", new { sortKey = "ProductName", sortDirection = ((ViewBag.SortKey == "ProductName" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })*@
                    <a href="javascript: submitform('ProductName')">ProductName</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierID)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CategoryID)*@
                    @*@Html.ActionLink("Category", "Filter", new { sortKey = "Category", sortDirection = ((ViewBag.SortKey == "Category" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })*@
                    <a href="javascript: submitform('Category')">Category</a>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityPerUnit)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.UnitPrice)*@
                    @*@Html.ActionLink("Price", "Filter", new { sortKey = "UnitPrice", sortDirection = ((ViewBag.SortKey == "UnitPrice" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })*@
                    <a href="javascript: submitform('UnitPrice')">Price</a>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitsOnOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReorderLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discontinued)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReorderLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discontinued)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                    </td>
                </tr>
            }

        </table>
</form>
