﻿@model IEnumerable<SortimisDemo.Models.Product>

@{
    ViewBag.Title = "Filtered - Index";
}

<script>
     function submitform(k) {
        let x = document.getElementById("sortKey");
        let y = document.getElementById("sortDirection");
        if (x.value != k) {
            x.value = k;
            document.getElementById("sortDirection").value = "Asc";
        } else if (y.value == "Asc") y.value = "Desc"; // setAttribute("value", "Desc");
        else y.value = "Asc"; // .setAttribute("value", "Asc");
        document.getElementById("thisform").submit();
    }
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="post" id="thisform">
    @Html.DropDownList("CategoryId", "-- vali kategooria --")
    <input type="hidden" name="sortKey" id="sortKey" value="@ViewBag.SortKey" />
    <input type="hidden" name="sortDirection" id="sortDirection" value="@ViewBag.SortDirection" />
    <input type="number" name="lowerPrice" value="@ViewBag.LowerPrice" />
    <input type="number" name="higherPrice" value="@ViewBag.HigherPrice" />
    <input type="text" name="searchString" placeholder="(otsimissõna)" value="@ViewBag.SearchString" />
    <button type="submit"><span class="glyphicon glyphicon-search"></span></button>


    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductName)*@
                @*@Html.ActionLink("ProductName", "Index", new { sortKey = "ProductName", sortDirection = ((ViewBag.SortKey == "ProductName" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })*@
                <a href="javascript: submitform('ProductName')">ProductName</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CategoryID)*@
                @*@Html.ActionLink("Category", "Index", new { sortKey = "Category", sortDirection = ((ViewBag.SortKey == "Category" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })*@
                <a href="javascript: submitform('Category')">Category</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UnitPrice)*@
                @*@Html.ActionLink("Price", "Index", new { sortKey = "UnitPrice", sortDirection = ((ViewBag.SortKey == "UnitPrice" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })*@
                <a href="javascript: submitform('UnitPrice')">Price</a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>
</form>