﻿@model EventParticipant.Models.Seminar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<p>Osalejad:</p>
@foreach(var o in Model.Participant)
{
    <p>@o.Person.FirstName @o.Person.LastName @o.PaymentType.Name @Html.ActionLink("Eemalda", "RemoveAttendee",  new { id = Model.Id, personId = o.PersonId })</p>
}

    <form method="post" action="@Url.Action("AddAttendee")">
        <input type="hidden" name="id" value="@Model.Id" />
        @Html.DropDownList("personId", "-- vali osaleja --")
        @Html.DropDownList("paymentId", "-- vali makseviis --")
        <button type="submit">Lisa</button>
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    </form>


