﻿@model IEnumerable<MVCAutentimisega.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visibility)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CoverPictureId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visibility)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CoverPictureId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Move up", "MoveUp", new { id = item.Id})
        </td>
    </tr>
}

</table>
